[submodule ".registry"]
	path = .registry
	url = https://github.com/gidonfrischkorn/gidonfrischkorn.r-universe.dev
	branch = HEAD
[submodule "rtprep"]
	path = rtprep
	url = https://github.com/GidonFrischkorn/rtprep
